.header{
  padding: 12px 8px;
  background: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  align-items: center;
  height: 50px;
}
.selectNode{
  margin-bottom: 8px;
}
.nodata{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}
.tree{
  border: 1px solid #e6e6e6;
  margin-top: 8px;
  max-height: 300px;
  overflow: auto;
  margin-bottom: 8px;
}
.modal{

  top:20px;
  padding: 12px;
  .row{
    line-height: 2;
    margin-top: 8px;
  }
}
:global{
  .container{
    .ant-calendar-picker{
      width: 240px;
    }
    .ant-calendar-picker-input{
      height: initial;
      padding: 3px 0;
    }
  }
  .ant-calendar-range-right{
    margin-left:initial;
  }
}