
table td{
  vertical-align: top;
  background-color:white;padding:5px 8px;
  border-bottom: 2px solid #f0f2f5;
}
table{
  width:100%;
}
.head{
  box-shadow: 0 0 30px rgba(0,0,0,0.15);
}
.global-search{
  width:300px !important;
  float: right;
  margin-top: 1em !important;
}
.search-btn{

}
.ant-input-suffix{
  right: 0px !important;
}
.wy_title{
  color: #000;
  font-size: 1em ;
  word-break: break-all;
}
.img{
  font-size: 1.2em;
  margin-right: 5px;
  display: inline-block !important;
  vertical-align: middle !important;
}
.ant-tree-switcher-icon{
  display: none !important;
}
.ant-tree-switcher{
  width: 0px !important;
}
.wy_sate_label{
  padding: 0 0.8em;
  font-size: 1em;
  border-top: 2px solid #1890ff;
  display: inline-block;
  cursor: pointer;
}


.wy_state_highlight{
  color: white;
  background-color: #1890ff;
}

.wy_icon_button{
  font-size: 1.5em;
  margin-left: 0.5em;
  cursor: pointer;
}
.wy_tag_container{
  display: inline;
  line-height: 2;
}
.wy_content{
  padding: 1em;
  height: calc(100vh - 80px)
}
.wy_toolbar{
  margin-bottom: 1em;
}
.wy_cmd a{
  margin-right: 0.5em;
}
.wy_cmd{
  float: right;
  margin-left: 2em;
}
