
table td{
  vertical-align: top;
  background-color:white;padding:5px 8px;
  border-bottom: 1px solid #f0f2f5;
}
table{
  width:100%;
box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px
;
}
.head{
  box-shadow: 0 0 30px rgba(0,0,0,0.15);
}
.global-search{
  width:300px !important;
  float: right;
  margin-top: 1em !important;
}
.search-btn{

}
.ant-input-suffix{
  right: 0px !important;
}
.wy_title{
  color: #000;
  font-size: 1em ;
  word-break: break-all;
}
.img{
  font-size: 1.2em;
  margin-right: 5px;
  display: inline-block !important;
  vertical-align: middle !important;

}
.ant-tree-switcher-icon{
  display: none !important;
}
.ant-tree-switcher{
  width: 0px !important;
}
.wy_sate_label{
  padding: 0 0.8em;
  font-size: 1em;
  border-top: 2px solid #1890ff;
  display: inline-block;
  cursor: pointer;
}


.wy_state_highlight{
  color: white;
  background-color: #1890ff;
}

.wy_icon_button{
  font-size: 1.5em;
  margin-left: 0.5em;
  cursor: pointer;
}
.wy_tag_container{
  display: inline;
  line-height: 2;
}
.wy_tag{
  background: #fff;
  color:#1890ff;
display: inline-block;
  margin-right: 1em;
}
.wy_toolbar{
  margin-bottom: 1em;
}
.wy_cmd a{
  color: rgba(0, 0, 0, 0.65) !important;
}
.wy_cmd{
  width: 190px;
  text-align: right;
}
.ant-tag{
  border-radius: 0px !important;
  border: none !important;
  padding: 0 !important;
}

.header{
  overflow: hidden;
  padding: 0 1em;
  width: 100%;
}
.flex-container{
  align-items: stretch;
  padding: 1em;
  padding-right: 0em;
  display:flex;
  height:calc(100vh - 50px );
  background-color: #f0f2f5;
}
.right{
  flex: auto;
  overflow-y: auto;
  margin-left: 1em;
  transition: width 1s;
 padding-right: 1em;

}
.left{
  transition: width 1s;
  overflow: auto;
  background-color: white;
  flex:none;
  width: 250px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1)
}
.logo{
  margin-right: 1em;
}