.label{
  margin-top: 1em;
}
table td{
  vertical-align: top;
  width:25%;background-color:white;padding:1em;
}
table.card{
  border-collapse: separate;width:100%;
}
.head{
  box-shadow: 0 0 30px rgba(0,0,0,0.15);
}
.global-search{
  width:300px !important;
  float: right;
  margin-top: 1em !important;
}
.search-btn{

}
.ant-input-suffix{
  right: 0px !important;
}
.wy_title{
  color: #000;
  font-size: 1.1em ;
}
.fold{
  font-size: 2em;
  margin-right: 0.1em;
  vertical-align: bottom !important;
}
.ant-tree-switcher-icon{
  display: none !important;
}
.ant-tree-switcher{
  width: 0px !important;
}
